* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: monospace;
    font-family: 10px;

    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: center;
}