#hoja {
    width: 50rem;
    height: 70rem;
    border: 1px solid black;
}
.contenido {
    width: 50rem;
    height: 50rem;
    border: 1px solid black;

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    padding-left: 5rem;
    align-items: center;

}
.img {
    width: 15rem;
    height: 15rem;
    border: 1px solid black;
}
.img1 {
    width: 15rem;
    height: 15rem;
}